<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.BigMap"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity android:name=".mypage_birth_ch"
            android:exported="false"/>
        <activity android:name=".mypage_email_ch"
            android:exported="false"/>
        <activity android:name=".mypage_phonnumCh"
            android:exported="false"/>
        <activity android:name=".mypage_name_ch"
            android:exported="false"/>


        <activity
            android:name=".MainActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".WelcomeView"
            android:exported="false" />
        <activity
            android:name=".PersonIform"
            android:exported="false" />
        <activity
            android:name=".UserCheck"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".board_chat"
            android:exported="false"/>
        <activity
            android:name=".board_notice"
            android:exported="false"/>
        <activity
            android:name=".board_qna"
            android:exported="false"/>
        <activity
            android:name=".board_free"
            android:exported="false"/>
        <activity
            android:name=".board_write"
            android:exported="false"/>
    </application>

</manifest>